{% extends 'base.html' %}
{% block title %}О компании - Shop{% endblock %}
{% block content %}
<div class="container">
    <div class="content">
        <h1>О компании</h1>
        <p>Мы - команда профессионалов, работающая с 2020 года. Наша миссия - предоставлять качественные товары и отличный сервис.</p>
        <p>Наши ценности:</p>
        <ul>
            <li>Качество продукции</li>
            <li>Клиентоориентированность</li>
            <li>Инновации</li>
        </ul>
    </div>
</div>
{% endblock %}