{% extends 'base.html' %}
{% block title %}Как нас найти - Shop{% endblock %}
{% block content %}
<div class="container">
    <div class="content">
        <h1>Как нас найти</h1>
        <p>Наш магазин находится в центре города.</p>
        <p><strong>Адрес:</strong> г. Москва, ул. Примерная, д. 10</p>
        <p><strong>Как добраться:</strong></p>
        <ul>
            <li>Метро: станция "Центральная", 5 минут пешком</li>
            <li>Автобус: № 123, остановка "Примерная"</li>
        </ul>
    </div>
</div>
{% endblock %}