{% extends 'base.html' %}
{% block title %}Главная - Shop{% endblock %}
{% block content %}
<div class="container">
    <div class="content">
        {% include 'partials/banner.html' %}
        <h1>Добро пожаловать в наш магазин!</h1>
        <p>Мы предлагаем широкий ассортимент товаров высокого качества. Ознакомьтесь с нашими категориями и найдите то, что вам нужно!</p>
        <div class="row">
            <div class="col-md-4">
                <h3>Новинки</h3>
                <p>Ознакомьтесь с нашими последними поступлениями.</p>
            </div>
            <div class="col-md-4">
                <h3>Акции</h3>
                <p>Воспользуйтесь нашими специальными предложениями!</p>
            </div>
            <div class="col-md-4">
                <h3>Популярное</h3>
                <p>Самые востребованные товары этого сезона.</p>
            </div>
        </div>
        {% include 'partials/recommendations.html' %}
    </div>
</div>
{% endblock %}