{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Авторизация - Ашан{% endblock %}
{% block content %}
<div class="container">
    <div class="content login-form">
        <h1>Авторизация</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
        <p class="mt-3 text-center">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a>.</p>
    </div>
</div>
{% bootstrap_messages %}
{% endblock %}